.sideBarContainer{
    display: flex;
    min-width: 150px;
    width: 30%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.548) !important;
}

.tab-content .tab-pane{
    border: 1px solid rgb(0, 247, 255) !important;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.tab-content{
    border: 2px solid rgb(0, 247, 255) !important;
    border-radius: 10px;
    border-top-left-radius: 0px;
    overflow: hidden;
}

.tab-content .tab-pane .list-group .list-group-item{
    border-top: 1px solid rgb(99, 99, 99) !important;
}

.nav-item{
    overflow: hidden;
}

.activeTab, .disableTab{
    background: rgba(0, 0, 0, 0.548) !important;
}

.nav-link{
    color: gray;
}

.nav-link:hover{
    color: rgb(80, 11, 240);
}

.active{
    color: rgb(0, 247, 255) !important;
    border: 1px solid rgb(0, 247, 255) !important;
}

.nav-tabs{
    border-bottom: none !important;
    background: none;
}

.list-group .list-group-item{
    background-color: #343a4000 !important;
    color: gray !important;
    border: rgb(231, 26, 26) !important;
}

.list-group .active{
    background-color: rgba(0, 0, 0, 0.548) !important;
    color: rgb(0, 247, 255) !important;
    text-shadow: 5px 5px 3px rgb(0, 247, 255) ;
}

.contact .contact{
    color: rgb(0, 247, 255) !important;
    text-shadow: 3px 3px 3px rgb(0, 247, 255);
}

.contact .id{
    color: rgb(223, 223, 223) !important;
    font-size: 12px;
    
}

.contactLine{
    line-height: 15px;
    margin-bottom: 5px;
}

@media screen and (max-width: 770px) {
    .tab-content{
        border-top-right-radius: 0px !important;
    }

    .tab-pane{
        border-radius: 10px !important;
       
    }
}

@media screen and (max-width: 770px) {
    
    .sideBarContainer{
        margin-top: 60px !important;
    }
    
    .nav-item{
        width: 100% !important;
    }

    .nav-link{
        border-right: 1px solid rgb(0, 247, 255) !important;
        border-left: 1px solid rgb(0, 247, 255) !important;
        border-top: 1px solid rgb(0, 247, 255) !important;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }
    
    .nav-link:hover{
        color: rgb(80, 11, 240);
    }

    .active{
        color: rgb(0, 247, 255) !important;
        border: 1px solid rgb(0, 247, 255) !important;
        border-bottom: 1px solid rgb(0, 247, 255) !important;
    }
}